<% content_for(:head) do %>
    <%= stylesheet_link_tag    "axiom/search_header", :media => "all" %>
<% end %>
<div class="header">
  <%=t :edit_security_tag %><!--Edit/Modify Security Tag Title -->
</div>
<%= render 'form' %>